<!-- <div>
  <div>
    <table >
      <ng-container matColumnDef="id">
        <th>Id</th>
        <td mat-cell *matCellDef="let user">{{user.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th >Name</th>
        <td mat-cell *matCellDef="let user">{{user.name}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th >Age</th>
        <td mat-cell *matCellDef="let user">{{user.age}}</td>
      </ng-container>
    </table>
  </div>
</div> -->
<div>
    <div>
      <button [routerLink]="['/user-add']">Add</button>
    </div>
  </div>
<table class='striped'>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of data">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>
                <button routerLink="/user-edit/{{user._id}}">Edit</button>
                <button routerLink="/user-delete/{{user._id}}">Delete</button>
            </td>
        </tr>
    </tbody>
 </table>